.guitarTetradInversions .guitarTetradInversionsTable {
  margin-top: 1.5rem;
}

.guitarTetradInversions .selectorRow button.selected {
  background: #e0e0e0;
  font-weight: bold;
}

.guitarTetradInversions .chordDegreesPrompt {
  color: grey;
  font-style: italic;
}
