.guitarTetradInversionsTable {

  --row-label-height: 2em;
  --col-label-width: 6em;

  --num-inversions: 4; /* Each inversion is in it's own column */
  --num-voicings: 6;   /* Each voicing is in it's own row */

  display: grid;
  grid-template-columns: var(--col-label-width) repeat(var(--num-inversions), auto);
  grid-template-rows: var(--row-label-height) repeat(var(--num-voicings), auto);
}

.guitarTetradInversionsTable .voicingLabel {
  --voicing: 1;

  grid-row: calc(1 + var(--voicing));
  grid-column: 1;
}

.guitarTetradInversionsTable .inversionLabel {
  --inversion: 1;

  grid-row: 1;
  grid-column: calc(1 + var(--inversion));
}

.guitarTetradInversionsTable .fingerChart {
  --inversion: 1;
  --voicing: 1;

  grid-row: calc(1 + var(--voicing));
  grid-column: calc(1 + var(--inversion));
}

.guitarTetradInversionsTable .fingerChartUnplayable {
  display: flex;
  align-items: center;
  justify-content: center;

  color: grey;
  font-style: italic;
}
